// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
.shadow {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
.d-flex {display: flex;}
.align-center {align-items: center}
.justify-space-between{justify-content: space-between}
.justify-end{justify-content: flex-end}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');
.theme--light.v-application {
  background: none;
}
* {
  font-family: Roboto, sans-serif;
}
.default-gradient {
  background: transparent -webkit-linear-gradient(45deg, #ff0f7b, #f89c2a) repeat
    scroll 0 0;
}
